@use "partials" as *;
@use "components" as *;

html {
  font-size: 62.5%;
  position: relative;
  font-family: fontFamily(primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}

