<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poltergeist</title>
</head>
<body>
    <p class="logo">POLTERGEIST</p>
    <div class="container">
        <video class="hero-video" autoplay loop muted>
            <source src="../media/videos/confetti-ball.webm" type="video/webm">
        </video>
        <h1 class="hero-title">Well, it worked as expected</h1>
        <p class="hero-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec sem nisi. Phasellus viverra fermentum turpis, at laoreet tellus ornare vel. Quisque arcu dui, gravida sit amet tortor vel.</p>
    </div>
</body>
</html>