@use "partials" as *;


::selection {
  color: color(dark);
  background: color(white);
}




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#_hj_feedback_container {
  cursor: default;

  * {
    cursor: default;
  }
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: fontFamily(primary);
  color: color(dark);
  text-decoration: none;
}

h2 {
  font-size: 93px;
  font-weight: bold;
}

h3 {
  font-size: 45px;
  font-weight: bold;
}









.decorations-block {
  overflow: hidden;
}

.anchor {
  display: block;
  height: 45vh;
  margin-top: -50vh;
  visibility: hidden;
}

.link-active {
  color: color(white);
}

.scroll-bar {
  height: 75px;
  width: 20px;
  background-color: color(white);
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  min-width: 200px;
  background-color: white;
  border-radius: 5px;
  border: 2px solid white;

  transition: all 0.2s ease-in;

  @include font($weight:500, $family:primary, $size:16px);
  color: color(dark);
}

.button:hover {
  box-shadow: 10px 10px 25px #C7C7C729;
  transform: translateY(-5px);
}

.button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.link-hover {
  color: black;
}

.decorations-block * {
  position: absolute;
  z-index: -1;
}


@media screen and (max-width: 1440px){

  h2 {
    font-size: 80px;
  }

  h3 {
    font-size: 40px;
  }

  .button {
    padding: 18px 25px;
    min-width: 150px;
    border-radius: 5px;
    font-size: 14px;
  }

  .icon {
    width: 16px;
  }
}


@media screen and (max-width: 1024px){

  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 25px;
  }

  .button {
    padding: 15px 15px;
    min-width: 120px;
    border-radius: 5px;
    font-size: 12px;
  }

  .icon {
    width: 16px;
  }
}


@media screen and (max-width: 800px){

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 20px;
  }

  .decorations-block {
    display: none;
  }

  .scroll-bar {
    height: 50px;
    width: 15px;
  }

  .pointer {
    display: none;
  }

  .button {
    padding: 10px 15px;
    min-width: 110px;
    border-radius: 2px;
    font-size: 10px;
  }

  .icon {
    width: 12px;
  }
}


